body {
    background-color: rgb(216, 225, 228);  
  }
  
  p {
    font-family:Georgia;
    border: 3px solid black;
    font-size: 20px;
    text-align:center;
    background-color: rgb(191, 230, 215);  
    padding: 10px;
    margin: 40px;
  }
  
  h1 {
      font-family:Georgia;
      font-size: 50px;
      text-align:center;
      border: 5px solid rgb(23, 231, 110);
      background-color: rgb(4, 66, 43); 
      color:rgb(231, 241, 237); 
      padding: 20px;       
  }
  
  img {
    padding: 10px;
    background-color: rgb(23, 24, 24);    
  }